---
layout: default
---

<article>
  {%- include extensions/click-to-top.html -%}
  {% include meta.html post=page %}
  <div class="entry">
      <div id="markdown-content">
          {{ page.excerpt }}
      </div>
      <div id="table-of-contents">
          {% toc %}
      </div>
      <div id="markdown-content">
          {{ page.content | remove: page.excerpt }}
      </div>
  </div>
  {% if page.comments != false and site.comments.isso or site.comments.disqus %}
    <hr>
    {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
    {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
    <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}
</article>
